:root {
  --primary: #2f6f8f;
  --accent: #dfdfdf;
  --highlight: #2f8faf;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  font-size: 20px;
  background-color: var(--primary);
  color: var(--primary);
}

#quote-box {
  padding: 2em;
  width: 70%;
  max-width: 800px;
  border-radius: 1em;

  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  background-color: var(--accent);
}

#text {
  font-size: 1.6em;
  text-align: center;
}
#text::before {
  content: "\"";
  padding-right: 0.3em;
}
#text::after {
  content: "\"";
  padding-left: 0.3em;
}

#author {
  font-size: 1em;
  text-align: right;
  padding: 1.4em 0;
}
#author::before {
  content: "- ";
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-quote {
  color: var(--accent);
  background-color: var(--primary);
  font-size: inherit;
  padding: 0.5em;
  font-size: 0.8em;
  border-radius: 0.8em;
}
#new-quote:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

a {
  padding: 0.3em;
  border-radius: 0.5em;
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--highlight);
}